<nav class="header">
	<div class="Nav-component">
		<div class="Nav-width">
			<div class="Nav">
				<div class="Nav-Content">
					<nav class="Nav-wrapper">
						<a class="Nav-link" style="padding-top: 20px;" href="/">
							<div class="Nav-item-hover active-Nav"><img src="https://img.icons8.com/material-outlined/24/000000/home--v2.png"/>
								<div class="Nav-item">Home</div>
							</div>
						</a><a class="Nav-link steem-keychain-checked" href="/bookmarks">
							<div class="Nav-item-hover"><img src="https://img.icons8.com/material-outlined/24/000000/filled-appointment-reminders.png"/>
								<div class="Nav-item">Notifications</div>
							</div>
						</a>
						<a class="Nav-link steem-keychain-checked" href="/bookmarks">
							<div class="Nav-item-hover"><img src="https://img.icons8.com/ios/24/000000/wallet--v1.png"/>
								<div class="Nav-item">Wallet</div>
							</div>
						</a>
						<a class="Nav-link steem-keychain-checked" href="/trending">
							<div class="Nav-item-hover"><img src="https://img.icons8.com/windows/24/000000/gender-neutral-user.png"/>
								<div class="Nav-item">Profile</div>
							</div>
						</a>
						<a class="Nav-link steem-keychain-checked" href="/explore">
							<div class="Nav-item-hover"><img src="https://img.icons8.com/material-outlined/24/000000/water.png"/>
								<div class="Nav-item">RewardPool</div>
							</div>
						</a>
						<a class="Nav-link steem-keychain-checked" href="/notifications">
							<div class="Nav-item-hover"><img src="https://img.icons8.com/ios/24/000000/database.png"/>
								<div class="Nav-item">Staking</div>
							</div>
						</a>
						<a class="Nav-link steem-keychain-checked" href="/witnesses">
							<div class="Nav-item-hover"><img src="https://img.icons8.com/material-two-tone/24/000000/money-bag-1.png"/>
								<div class="Nav-item">Witnesses</div>
							</div>
						</a>
						<a class="Nav-link steem-keychain-checked" href="/profile/cert">
							<div class="Nav-item-hover"><img src="https://img.icons8.com/material-outlined/24/000000/search--v1.png"/>
								<div class="Nav-item">Explorer</div>
							</div>
						</a>
						<div id="moremenu" class="Nav-link">
							<div class="Nav-item-hover"><img src="https://img.icons8.com/material-outlined/24/000000/help.png"/>
								<div class="Nav-item">Help</div>
							</div>
						</div>
						<div class="Nav-tweet">
							<div class="Nav-tweet-link">
								<div class="Nav-tweet-btn btn-hide">Login</div>
							</div>
						</div>
					</nav>
					<div></div>
				</div>
			</div>
		</div>
		<div class="modal-edit" style="display: none;">
			<div class="modal-content" style="min-height: 270px; height: initial;">
				<div class="modal-header">
					<div class="modal-closeIcon">
						<div class="modal-closeIcon-wrap"><img src="https://img.icons8.com/material-outlined/36/000000/appointment-reminders.png"/></div>
					</div>
					<p class="modal-title">Tweet</p>
				</div>
				<div class="modal-body" style="margin-top: 5px;">
					<div class="Tweet-input-wrapper" style="position: relative;">
						<div class="Tweet-profile-wrapper">
							<div><img width="100%" height="49px" src="https://i.imgur.com/iV7Sdgm.jpg" style="border-radius: 50%; min-width: 49px;"></div>
						</div>
						<div class="Tweet-input-side">
							<div class="inner-input-box">
								<div id="tweetPop" placeholder="What's happening" contenteditable="true" style="min-height: 120px;">
								</div>
							</div>
							<div class="inner-input-links">
								<div class="input-links-side">
									<div class="input-attach-wrapper" style="margin-left: -10px;">
										<img src="https://img.icons8.com/material-outlined/36/000000/appointment-reminders.png"/>
										<input title=" " id="image" type="file" style="opacity: 0;">
									</div>
								</div>
								<div class="tweet-btn-holder">
									<div style="font-size: 13px;"></div>
									<div class="tweet-btn-side">Tweet</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>