<div class="right-section">
    <div class="feed-wrapper">
        <div class="feed-trending-card">
            <div class="feed-trending-card">
                <h3 class="feed-card-header">Trending</h3>
                <% trendingTags.forEach(function(tags) { %>
                <a href="/tags/<%- tags.m %>">
                <div class="feed-card-trend">
                    <div>#<%- tags.m %></div>
                    <div><%- tags.v %> Posts</div>
                </div>
                </a>
                <% }) %>
                <div class="feed-more">Show more</div>
            </div>
         </div>
    </div>
</div>
