<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<title>DLIKE - Share To Get Rewarded</title>
<meta name="description" content="DLIKE is a blockchain based social media dapp where you get rewarded for sharing. Share informative links to earn reward on every like you get from other community members.">

<meta property="og:url" content="https://dlike.io" />
<meta property="og:title" content="DLIKE - Share To Get Rewarded" />
<meta property="og:description" content="DLIKE is a blockchain based social media dapp where you get rewarded for sharing. Share informative links to earn reward on every like you get from other community members." />
<meta property="og:image" content="/images/dlike-main.jpg" />
<%- include('./common/navbar.ejs') %>


<div id="profile_page">
    <div id="p_cover" class="img-fluid"><img src="" style="width:100%;height:100%;"></div>
    <div style="background: #ededed;"><div class="container p-data">
        <div class="row p_data_inner">
            <div>
                <span><img src="https://i.postimg.cc/rwbTkssy/dlike-user-profile.png" id="p_img" class="img-fluid rounded-circle"></span><span class="p_data_names"><span class="name"></span><br><span class="p_name">@<%- user.name %></span></span>
            </div>
            <div><button class="btn btn-danger btn_edit btn-follow">Edit Profile</button>
                    <button class="btn btn-danger btn_verify_email">Verify Email</button>
            </div>
        </div>
        <div class="row p_data_top"><span class="p_about"></span></div>
        <div class="row p_data_mid">
            <span class="p_joined"><i class="fas fa-calendar-alt" style="line-height:0.1;color: #191d5d;"></i> Joined </span>
            <span class="p_location" style="margin-left:10px;"><i class="fas fa-map-marker-alt" style="color: #191d5d;padding-right:3px;"></i></span>
            <span class="web_site" style="margin-left:10px;"><i class="fas fa-link" style="color: #191d5d;padding-right:3px;"></i>
        </div>
    </div>
<div class="new-ticker-block new-ticker-block-section" style="min-height:50vh;"><div class="container"><div class="new-ticker-block-wrap">
<div class="ticker-head">
    <ul class="nav nav-tabs ticker-nav prof-nav" role="tablist">
        <li class="nav-item"><a class="nav-link active show" href="#user_posts" role="tab" data-toggle="tab" aria-selected="true"><h5>Posts</h5></a></li><li class="nav-item"><a class="nav-link" href="#user_likes" role="tab" data-toggle="tab">Likes</a></li><li class="nav-item nav-item-last"></li>
    </ul>
</div>
<div class="market-ticker-block"><div class="tab-content">
<div role="tabpanel" class="tab-pane fade in active show" id="user_posts"><div class="container"><div class="row" style="margin-top: 30px;">

<div class="col-lg-4 col-md-6 postsMainDiv"></div> 
<%- include('./common/blog.ejs') %>
</div></div></div>
<div role="tabpanel" class="tab-pane fade" id="user_likes"><div class="container"><div class="row" style="margin-top: 30px;">

<div class="col-lg-4 col-md-6 postsMainDiv"></div> 

</div></div></div>
</div>
<!--<div role="tabpanel" class="tab-pane fade p_tab_pad" id="user_replies"><div id="replies_content"></div>-->
</div></div></div></div></div>
<%- include('./common/footer.ejs') %>