<!DOCTYPE html><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<title>DLIKE - Share To Get Rewarded</title>
<meta name="description" content="DLIKE is a blockchain based social media dapp where you get rewarded for sharing. Share informative links to earn reward on every like you get from other community members.">

<meta property="og:url" content="https://dlike.io" />
<meta property="og:title" content="DLIKE - Share To Get Rewarded" />
<meta property="og:description" content="DLIKE is a blockchain based social media dapp where you get rewarded for sharing. Share informative links to earn reward on every like you get from other community members." />
<meta property="og:image" content="/images/dlike-main.jpg" />
<%- include('./common/navbar.ejs') %>
<div class="latest-post-section" style="padding: 60px 0!important;"><div class="container">
<div class="row" style="border-bottom: 1px solid #eee;background: #fff;"><div class="col" style="text-align: center;padding: 20px;font-weight: 600;font-size: 1.2rem;">WALLET</div></div>
<div class="row" style="background: #ffffff;min-height:70vh;">
    <div class="col" style="font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;text-align: center;">
        <div style="padding-top:50px;color: #000;font-size: 1.7rem;"><%- (act.balance)/100 %><span style="padding-left:5px;">DLIKE</span></div>
        <div class="col" style="padding-top:18px;display: flex;justify-content: center;">
            <span style="padding: 12px;">
                <button style="border: none;border-radius: 50%;background: #037dd6;cursor: pointer;"><i class="fas fa-external-link-alt" style="color: #fff;"></i></i></button><br>
                <span>Withdraw</span>
            </span>
            <span style="padding: 12px;">
                <button style="border: none;border-radius: 50%;background: #037dd6;cursor: pointer;"><i class="fas fa-external-link-alt" style="color: #fff;"></i></i></button><br>
                <span>Transfer</span>
            </span>
            <span style="padding: 12px;">
                <button style="border: none;border-radius: 50%;background: #037dd6;cursor: pointer;"><i class="fas fa-external-link-alt" style="color: #fff;"></i></i></button><br>
                <span>Stake</span>
            </span>
            <span style="padding: 12px;">
                <button style="border: none;border-radius: 50%;background: #037dd6;cursor: pointer;"><i class="fas fa-external-link-alt" style="color: #fff;"></i></i></button><br>
                <span>Boost</span>
            </span>
        </div>
    </div>
</div>
</div></div>

<%- include('./common/footer.ejs') %>